.section {
    /********************
    Styles Homepage
    *********************/
    &.section--header {
        flex-direction: column;
        min-height: 100vh;

        .section-title {
            text-align: left;
            padding-bottom: 0px;
        }

        .section-subtitle {
            text-align: left;
            font-size: 3.75rem;
            font-weight: 700;
            padding-bottom: 64px;
        }

        .section-body {
            display: flex;
            align-items: center;
            flex-grow: 1;
            width: 100%;
        }

        .portrait {
            position: relative;
            max-width: 404px;
            width: 100%;
            background-color: #eeeeee;
            border-radius: 50%;
            overflow: hidden;

            &:after {
                display: block;
                content: '';
                padding-bottom: 100%;
                width: 100%; 
            }

            img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: top;
            }

        }

        .section-footer {
            display: flex;
            align-items: center;
            width: 100%;
            height: 148px;
            color: $color-white;
            background-color: $color-primary;
        }

        .contact-list {
            display: flex;
            justify-content: flex-end;

            .list-item {
                display: flex;
                align-items: center;
            }

            .list-item:not(:last-child) {
                margin-right: 32px;
            }

            .item-icon {
                width: 32px;
                height: auto;
                margin-right: 8px;
            }

            .item-label {
                font-weight: 300;
            }
        }
    }

    &.section--contact {
        .contact-data {
            width: auto;
        }
    }

    &.section--skills {
        .skills-content {
            font-size: 2.1875rem;
            font-weight: 300;
            text-align: center;
        }

        .skills-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 40px;
            width: 180px;
            height: 180px;
            background-color: black;
            border-radius: 50%;

            .icon {
                width: 75px;
                height: auto;
            }
        }
    }

    &.section--projects {
        .project-preview {
            height: 404px;
            width: 404px;
            overflow: hidden;

            .preview-img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .project-title {
            font-size: 2.8125rem;
            font-weight: 700;
            color: $color-primary;
        }

        .project-description {
            line-height: 1.5;
            padding-top: 16px;
            padding-bottom: 32px;
        }
    }

    &.section--footer {
        background-color: $color-black;

        img {
            width: 48px;
            height: auto; 
        }

        .footer-title {
            font-size: 1.25rem;
            font-weight: 700;
            color: $color-primary;
            padding-bottom: 24px;
        }

        .footer-content {
            color: $color-white;
            font-weight: 300;
            padding-bottom: 8px;
        }

        .footer-impressum {
            font-size: 0.875rem;
            font-weight: 300;
            text-align: center;
            color: $color-white;
            padding-top: 24px;

            a {
                text-decoration: underline;

                &:link {
                    color: $color-white;
                }

                &:visited {
                    color: $color-white;
                }

                &:active {
                    color: $color-white;
                }
            }
        }
    }

    /********************
    Styles Branding
    *********************/

    .section-body-projects {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .project-title {
        color: $color-primary;
        font-size: 1.875rem;
        font-weight: 700;
        padding-bottom: 32px;

        &.has-padding-large {
            padding-top: 88px;
        }
    }

    .project-description-projects {
        line-height: 1.5;
    }

    .showcase {
        &.is-small {
            width: 513px;
            height: 513px;
        }

        &.is-big {
            width: 840px;
            height: 600px;
            padding-bottom: 88px;
            padding-top: 32px;
            margin-right: auto;
            margin-left: auto;
        }
    }

    .section-title {
        &.is-small {
            font-size: 2.8125rem;
            padding-bottom: 88px;
            padding-top: 124px;
        }
    }

    &.section--header-projects {
        .section-body {
            flex-grow: 1;
        }

        .section-title {
            padding-top: 224px;
        }
    }

    &.section--eke {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &.section--bana {
        padding-bottom: 180px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    /******************
    Styles Webprojects
    *******************/

    &.section--portfolio {
        padding-bottom: 180px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    /*******************
    Styles Impressum
    *******************/

    &.section--impressum {
        h1 {
            font-size: 3.75rem;
            font-weight: 700;
            padding-bottom: 32px;
            color: #0161F3;
        }

        h2 {
            font-size: 1.875rem;
            font-weight: 700;
            padding-bottom: 32px;
        }

        p {
            line-height: 1.5;
            padding-bottom: 32px;
        }

        a {
            text-decoration: underline;

            &:link {
                color: blue;
            }

            &:visited {
                color: blue;
            }
        }


    }
}