.navigation-title {
    margin-top: 26px;
    margin-bottom: 26px;
    margin-left: 80px;

    @include tablet-down {
        margin-left: 32px;
    }

    a {
        font-size: 1.875rem;
        font-weight: 300;
        text-transform: uppercase;
    }
}

.sticky-navigation {
    position: fixed;
    z-index: 1;
    width: 100%;
    display: flex;
    background-color: white;
    opacity: 95%;

    .navigation-list {
        display: flex;
        margin-left: auto;
        margin-right: 80px;
        margin-top: 41px;
        margin-bottom: 41px;

        @include tablet-down {
            display: none;
        }
    }

    .list-item {
        a {
            margin-left: 32px;
            display: block;
            text-align: center;

            &:hover {
                color: $color-primary;
                transition: ease-in-out all .2s; 
                -moz-transition: ease-in-out all .2s;
                -webkit-transition: ease-in-out all .2s;
            }
        }
    }
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    opacity: 97%;
    z-index: 99;
    display: none;
    text-align: center;

    @include tablet-down {
        &.is-active {
            display: block;
        }
    }

    .mobile-menu-close {
        position: fixed;
        top: 0;
        left: 1;
        right: 0;
        bottom: 0;
        font-size: 2.1rem;
        margin-top: 25px;
        margin-right: 32px;
        font-weight: 300;
        cursor: default;
    }

    .navigation-list {
        margin-top: 128px;
    }

    .list-item {
        margin-bottom: 32px;
        a {
            font-size: 1.825rem;
            font-weight: 300;

            &:hover {
                color: $color-primary;
                transition: ease-in-out all .2s; 
                -moz-transition: ease-in-out all .2s;
                -webkit-transition: ease-in-out all .2s;
            }
        }
    }
}

.mobile-menu-trigger {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: 32px;
    margin-top: auto;
    margin-bottom: auto;
    width: 32px;
    height: 32px;

    @include tablet-up {
        display: none;
    }

    .menu-icon {
        width: 32px;
        height: 2px;
        background-color: black;
        margin: 7px auto;
        border-radius: 15px;
    }
}