.section {
    display: flex;
}

.section.is-centered {
    align-items: center;
}

.section.has-background-blue {
    background-color: $color-primary;
    color: $color-white;
}

.section.is-small {
    padding-top: 32px;
    padding-bottom: 32px;
}

.section.is-large {
    padding-top: 180px;
    padding-bottom: 180px;

    @include tablet-down {
        padding-top: 90px;
        padding-bottom: 90px;
    }
}

.section .section-title {
    text-align: center;
    font-size: 3.75rem;
    font-weight: 700;
    padding-bottom: 32px;

    @include tablet-down {
        font-size: 3.25rem;
    }
}

.section .section-subtitle {
    text-align: center;
    font-weight: 300;
    font-size: 1.875rem;
    padding-bottom: 115px;

    @include tablet-down {
        padding-bottom: 56px;
        font-size: 1.5rem;
    }
}