html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 16px;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:active {
    color: black;
}

.container {
    width: 100%;
    max-width: 1276px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
}